<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Authentification</title>
</head>
<body>
    <header class="for-header">
        <h1 id="button" class="link">N</h1>
        <div>
            {% if user.is_authenticated %}
                    <a href="#" class="ul-header">{{ user.username }}</a>
            {% else %}
                    <a href="#" class="ul-header"></a>
            {% endif %} 
            <a href="/log_in" class="ul-header">Log In</a>
            <a href="/register" class="ul-header">Register</a>  
        </div>
    </header>
    <div id="menu" class="sidemenu">
        <div id="menu1" class="sidebar">
                <a href="" class="sidebar-buttons">Streams</a>
                <a href="" class="sidebar-buttons">Youtube</a>
                <a href="" class="sidebar-buttons">Games</a>
                <a href="http://127.0.0.1:8000/" class="sidebar-buttons">Home</a>
                <a href="/articles" class="sidebar-buttons">Articles</a>
        </div>
    </div>
    <main class="auth_page_back">
        <div class="input_form">
            <form  method="post" action="." class="input_form">
                <h1 id="button" class="link">LOGIN</h1>
                {{ form.as_p }}
                {% csrf_token %}
                <input class="login_button" size="10" type="submit" value="Log-in">
            </form>
        </div>
    </main>
    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
    
</body>
</html>