<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ne1Tex Club</title>
    <link rel="stylesheet" href="{% static 'style2.css' %}">
</head>
<body>
    <header class="for-header" id="header">
        <h1 id="button" class="link">N</h1>
        <div>
            {% if user.is_authenticated %}
                    <a href="#" id="ul-header" class="ul-header">{{ user.username }}</a>
            {% else %}
                    <a href="#" id="ul-header" class="ul-header"></a>
            {% endif %} 
            <a href="/log_in" id="ul-header" class="ul-header">Log In</a>
            <a href="/register" id="ul-header" class="ul-header">Register</a>  
        </div>
    </header>
    <div id="menu" class="sidemenu">
        <div id="menu1" class="sidebar">
                <a href="" class="sidebar-buttons" id="buttonz">Streams</a>
                <a href="https://www.youtube.com/channel/UCea4Nji9RNJYBuIHd0D_R_Q" class="sidebar-buttons" id="buttonz">Youtube</a>
                <a href="" class="sidebar-buttons" id="buttonz">Games</a>
                <a href="/" class="sidebar-buttons" id="buttonz">Home</a>
                <a href="/articles" class="sidebar-buttons" id="buttonz">Articles</a>
        </div>
    </div>
    <div class="name">
        <h1>NE1TEX CLUB</h1>
        <br>
        <p>
        Блог об IT, играх, интересных событиях, проектах и прочем :)
        </p>
    </div>
    <main id="main_trigger">
        <div class="start_block">
            <div class="welcome_text"></div>
            <div id="3dmodel" class="3d_model">
                <canvas width="395" height="601"></canvas>
            </div>
        </div>
    </main>
    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
    <!-- Some ScrollShit) -->
    <script src="{% static 'ScrollMagic.min.js' %}"></script>
    <script src="{% static 'plugins/debug.addIndicators.min.js' %}"></script>
    <script src="{% static 'scroll.js' %}"></script>
    <!-- 3D -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/mrdoob/three.js@r92/examples/js/loaders/GLTFLoader.js"></script>
    <script src="{% static '3dmodel.js' %}"></script>
    
</body>
</html>