<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ne1Tex Club</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="for-header">
        <h1 id="button" class="link">N</h1>
        <a href="auth.html" class="ul-header">Log In</a>
    </header>
    <div id="menu" class="sidemenu">
        <div id="menu1" class="sidebar">
                <a href="" class="sidebar-buttons">About</a>
                <a href="" class="sidebar-buttons">Streams</a>
                <a href="" class="sidebar-buttons">Youtube</a>
                <a href="" class="sidebar-buttons">Games</a>
                <a href="index.html" class="sidebar-buttons">Home</a>
        </div>
    </div>
    <div class="name">
        <h1>NE1TEX CLUB</h1>
        <br>
        <p>
        Блог об IT, играх, интересных событиях, проектах и прочем :)
        </p>
    </div>
    <main>
        <div class="about_block">
            <h2 class="about_h2">ABOUT</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quod quae error! Facere accusamus dolorum assumenda, similique temporibus sed praesentium harum nisi dicta cumque alias distinctio itaque, provident non autem.
            </p>
        </div>
        <aside></aside>
    </main>
    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>