<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ne1Tex Club</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="for-header">
        <h1 id="button" class="link">N</h1>
        <div>
            {% if user.is_authenticated %}
                    <a href="#" class="ul-header">{{ user.username }}</a>
            {% else %}
                    <a href="#" class="ul-header"></a>
            {% endif %} 
            <a href="/log_in" class="ul-header">Log In</a>
            <a href="/register" class="ul-header">Register</a>  
        </div>
    </header>
    <div id="menu" class="sidemenu">
        <div id="menu1" class="sidebar">
                <a href="" class="sidebar-buttons">Streams</a>
                <a href="" class="sidebar-buttons">Youtube</a>
                <a href="" class="sidebar-buttons">Games</a>
                <a href="/" class="sidebar-buttons">Home</a>
                <a href="/articles" class="sidebar-buttons">Articles</a>
        </div>
    </div>
    <div class="name">
        <h1>NE1TEX CLUB</h1>
        <br>
        <p>
        Блог об IT, играх, интересных событиях, проектах и прочем :)
        </p>
    </div>
    <main>
    </main>
    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>