<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-COmpatible" content="ie-edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Some sh*t</title>
</head>
<body>
    <header>Сайт про Вову</header>
        <main>
            ВОВА ВОВА ВОВА ВОВА ВОВА ВОВА ВОВА ВОВА ВОВА ВОВА ВОВА ВОВА ВОВА ВОВА ВОВА ВОВА ВОВА ВОВА ВОВА ВОВА ВОВА ВОВА ВОВА ВОВА
        </main>
    <footer>Тут живет Вова</footer>
</body>
</html>