<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'for_posts_style.css' %}">
    <title>Posts</title>
</head>
<body>
    <header class="for-header">
        <h1 id="button" class="link">N</h1>
        <div>
            <a href="/log_in" class="ul-header">Log In</a>
            <a href="/register" class="ul-header">Register</a>
        </div>
    </header>
    <div id="menu" class="sidemenu">
        <div id="menu1" class="sidebar">
                <a href="" class="sidebar-buttons">About</a>
                <a href="" class="sidebar-buttons">Streams</a>
                <a href="" class="sidebar-buttons">Youtube</a>
                <a href="" class="sidebar-buttons">Games</a>
                <a href="http://127.0.0.1:8000/" class="sidebar-buttons">Home</a>
                <a href="/articles" class="sidebar-buttons">Articles</a>
        </div>
    </div>
    <main class="post_page">
        <h1 class="article-h1">Статейки / Проекты</h1>
        <div class="articles_container">
            {% for post in posts %}
            <article class="post_container">
                <div class="for-pic">
                    <img src="{{post.img_for_post.url}}" alt="">
                </div>
                <div class="for_text">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.Short_text }}</p>
                    <a href="/post/{{post.id}}" class="justbutton">Читать</a>
                </div>
            </article>
            <hr>
            {% endfor %}
        </div>
    </main>
    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
    
</body>
</html>