<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ne1Tex Club</title>
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    {{ form.media }}
</head>
<body>
    <header class="for-header">
        <h1 id="button" class="link">N</h1>
        <div>
            <a href="/log_in" class="ul-header">Log In</a>
            <a href="/register" class="ul-header">Register</a>
        </div>
    </header>
    <div id="menu" class="sidemenu">
        <div id="menu1" class="sidebar">
            <a href="" class="sidebar-buttons">Streams</a>
            <a href="https://www.youtube.com/channel/UCea4Nji9RNJYBuIHd0D_R_Q" class="sidebar-buttons">Youtube</a>
            <a href="" class="sidebar-buttons">Games</a>
            <a href="/" class="sidebar-buttons">Home</a>
            <a href="/articles" class="sidebar-buttons">Articles</a>
        </div>
    </div>
    <main class="post_page">
        <h1 class="post_title">{{post.title}}</h1>
        <div class="post_pic">
            <img src="{{post.img_for_post.url}}" alt="">
        </div>
        {% autoescape off %}

            {{post.content}}

        {% endautoescape %}
    </main>
    <div class="footer"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>