<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ne1Tex Club</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="for-header">
        <h1 id="button" class="link">N</h1>
        <div>
            <a href="/log_in" class="ul-header">Log In</a>
            <a href="/register" class="ul-header">Register</a>
        </div>
    </header>
    <div id="menu" class="sidemenu">
        <div id="menu1" class="sidebar">
            <a href="" class="sidebar-buttons">About</a>
            <a href="" class="sidebar-buttons">Streams</a>
            <a href="" class="sidebar-buttons">Youtube</a>
            <a href="" class="sidebar-buttons">Games</a>
            <a href="http://127.0.0.1:8000/" class="sidebar-buttons">Home</a>
            <a href="/articles" class="sidebar-buttons">Articles</a>
        </div>
    </div>
    <main class="post_page">
        <h1 class="post_title">{{post.title}}</h1>
            {{post.text}}
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>